.main-panel{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    padding: 25px;
    
    .card-title{
        font-size: 28px;
    line-height: 36px;
    color: #1f62c7;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    text-transform: uppercase;
    }
    .text-heading{
        h4 , h5{
            font-size: 28px;
            line-height: 36px;
            color: #525252;
            letter-spacing: 2px;
            font-weight: 600; 
        }
    }
    .card{
        // border: 0 ;
       .form-group{
           margin-bottom: 20px;
           label{
               margin-bottom: 8px;
               color: #777;
               font-size: 17px;
           }
       }
       .buttondesign{
       
        background-color: #1f62c7;
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 6px 22px;
       }
       .input-group{
           position: relative;
           .input-group-prepend{
               .input-group-text {
                border: 0;
                position: absolute;
                right: 0;
                height: 100%;
                top: 1px;
                background: #ced4da;
                border-radius: 0;
                z-index: 99;
               }
           }
       }
    }
    
}

.bord-design {
    padding-top: 70px;
  
    .container-fluid{
        padding: 0 120px !important;
        height: calc(100vh - 250px);
    }
}

.table-responsive{
    &::-webkit-scrollbar{
        background-color: #dadada;
        height: 6px;
        width: 6px;
    border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #1f62c7;  
     
  border-radius: 20px; 
    }
}
.pagination{
    padding-top: 30px;
}
.dataTable{
    min-width: 1450px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &::-webkit-scrollbar{
        height: 2px;
    }
    thead{
        background-color: #1f62c7;
      
       
        th{
            padding: 12px 22px 12px;
            color: #fff;
            font-size: 14px;
            &:first-child{
                padding-left: 25px;
            }
            &:last-child{
                padding-right: 25px;
            }
        }
    }
    tbody{
       
        margin-bottom: 25px;
        tr{
            background-color: #e9f1f7;
            &:nth-child(even){
                background-color: #fff;
            }
            margin-bottom: 12px;
            td{
                padding: 12px 25px;
                font-size: 14px;
                &:first-child{
                    padding-left: 25px;
                }
                &:last-child{
                    padding-right: 25px;
                }
            }
            .progress{
                height: 8px;
            }
        }
    }
}

